.app {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 20% 15% 65%;
    grid-template-areas:  
        'jumbotron jumbotron jumbotron'
        '. all-buttons .'
        '. list .'
    ;
}

#jumboWrap {
    grid-area: jumbotron;
}

.jumbotron {
    /* grid-area: jumbotron; */
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(36,103,194,0.86) 49%, rgba(0,212,255,1) 100%); 
    text-align: center;
}

h1 {
    font-size: 4em;
}

#all-buttons {
    grid-area: all-buttons;
    grid-template-columns: 100%;
    grid-template-rows: 34% 33% 33%;
    grid-template-areas: 
        'add-btn'
        'remove-complete-btn'
        'remove-all-btn'
    ;
}

#add-btn {
    grid-area: add-btn;
    /* grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: 'abg';
    padding: 5px;
    align-content: center; */
}

#remove-all-btn {
    grid-area: remove-all-btn;
    padding: 5px;
}

#remove-complete-btn {
    grid-area: remove-complete-btn;
    padding: 5px;
}

#list {
    grid-area: list;
    padding: 30px;
}

.btn {
    background: rgba(2, 0, 36, 0.082);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(94,84,142,1) 49%, rgba(0,212,255,1) 100%);
    color: rgb(194, 177, 155);
}

li {
    font-size: 2em;
    transition: 2s;
}

.complete {
    opacity: 50%;
    text-decoration: line-through;
    text-decoration-color: cornflowerblue;
}